@font-face 
{
    font-family: 'raleway';
    src: url('raleway/Raleway-Light.ttf')
}


body
{
    font-family: 'Raleway', sans-serif;
    padding: 2.5em;
    
}
  


header img 
{
    width: 6em;
    float: left;
    padding-bottom: 2em;
}

header ul 
{
   float: right;
   
}

li 
{
    font-weight: 500;
    padding-left: 3.5em;
    display: inline-block;
    
    
}

#inscrire
{
    font-weight: 600; 
    
    
}

li a
{
    text-decoration: initial;
    color: initial;
}

    

a:hover
{
    
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 63px;
    
    
}



header h1
{
    clear: left;
    font-size: 25px;
    font-weight: 800;
    
    
}

header h2
{
    font-weight: 400;
    font-size: 18px;
}

.localisation
{
  display: flex;
  align-items: center;
  
  
  
}


.localisation i 
{
    font-size: 22px;
    background-color: #F2F2F2;
    padding: 19px;
    border-radius: 17px 0px 0px 17px;
    
    
}

#loc
{
    font-size: 20px;
    padding: 16px;
    padding-right: 80px;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    
    
    
}

#search
{
    font-weight: 800;
    font-size: 17px;
    color: #F2F2F2;
    background-color: #0065FC;
    padding: 20px;
    border-radius: 0px 17px 17px 0px;
    
}

.filtres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 4em;   
    
}



#titre
{
    
    font-weight: 800;
    padding-right: 40px;
}


.filtres i
{
    
    color: #0065FC; 
    background-color: #DEEBFF;   
    border-radius: 50%;   

}

.eco
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
    border: 2.5px  #F2F2F2 solid;
    border-left: none;
    border-radius: 65px 65px 65px 65px;
    
}

.eco i
{
    padding: 22.5px 20px 22.5px 20px;
    font-size: 20px;
}

.eco h3
{
   padding: 0px 19px 0px 19px;
    
}


.familial
{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px  #F2F2F2 solid;
    border-left: none;
    border-radius: 65px 65px 65px 65px;
    
}

.familial i
{
    padding: 20px 23px 20px 23.25px;
    font-size: 25px;
}

.familial h3
{
    padding-left: 20px;
    padding-right: 20px;
}

.romantique
{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px  #F2F2F2 solid;
    border-left: none;
    border-radius: 65px 65px 65px 65px;  
}

.romantique i
{
    padding: 20px;
    font-size: 25px;
}

.romantique h3
{
    padding-left: 20px;
    padding-right: 20px;
}

.animaux
{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px #F2F2F2 solid;    
    border-left: none;
    border-radius: 65px 65px 65px 65px; 
    
}

.animaux i
{
    padding: 20.5px 19px 20.5px 19px;
    font-size: 24px;
    
}

.animaux h3
{
    
    padding-left: 20px;
    padding-right: 20px;
    
}

.disponible
{
    
    margin-top: 40px;
    display: flex;  
    align-items: center;
    
    
    
}

.disponible i 
{
    font-size: 100%;
    color: #0065FC;
    padding: 7px 12px 7px 12px;
    border: 2px #F2F2F2 solid; 
    border-radius: 50%;
}

.disponible p
{
    padding-left: 19px;  
}

.hebergement
{
    width: 58.5em;
    height: 45em;
    background-color:#F2F2F2;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}

.hebergement h2
{
    font-size: 22px;
    padding-top: 35px;
    margin-left: 40px;
    padding-right: 20em;
    
    
}

.cannebiere
{   
    width: 15em;
    height: 12.5em;
    border: 6px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px grey; 
    margin-left: 40px;
    margin-bottom: 1em;
    
      
}



.cannebiere img
{
   width: 15em; 
   height: 7em; 
   border-radius: 15px 15px 0px 0px; 
}

.text
{
    padding-left: 8px;
    line-height: 5px;
}

.text i 
{
    color: #0065FC;
    font-size: 13px;
    letter-spacing: -2px;
    
}

#gris
{
  color: #DEEBFF;
}



.port
{

    margin-left: 50px;
    width: 15em;
    height: 12.5em;
    border: 6px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px grey; 
}



.port img
{
   width: 15em; 
   height: 7em; 
   border-radius: 15px 15px 0px 0px; 
}




.mouettes
{

    margin-left: 50px;
    width: 15em;
    height: 12.5em;
    border: 6px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px grey; 
}



.mouettes img
{
   width: 15em;
   height: 7em; 
   border-radius: 15px 15px 0px 0px; 
}





.mer
{

    margin-left: 40px;
    width: 15em;
    height: 12.5em;
    border: 6px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px grey; 
}



.mer img
{
   width: 15em; 
   height: 7em; 
   border-radius: 15px 15px 0px 0px; 
}


.panier
{

    margin-left: 50px;
    width: 15em;
    height: 12.5em;
    border: 6px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px grey; 
}



.panier img
{
   width: 15em; 
   height: 7em; 
   border-radius: 15px 15px 0px 0px; 
}




.amina
{

    margin-left: 50px;
    width: 15em;
    height: 12.5em;
    border: 6px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px grey; 
}



.amina img
{
   width: 15em; 
   height: 7em; 
   border-radius: 15px 15px 0px 0px; 
}

.hebergement h4
{
    font-size: 17px;
    margin-left: 40px;
    padding-bottom: 1em;
    
}



.populaires h2

{
    font-size: 22px;
    padding-top: 35px;
    margin-left: 40px;
    padding-right: 20em;
}

.soleil
{
    display: flex;
    width: 25em;
    height: 8em;
    border: 6px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px grey;   
}

.soleil img
{
   width: 9em; 
   height: 8em; 
   border-radius: 15px 0px 0px 15px; 
}






















